/* Add CSS Styling */
.odd {
    background-color: #ffc0cb;
    font-family: "Verdana", "Dejavu Sans", sans-serif;
}

#number2 {
    color: #0000ff;
    font-size: 36px;
}

.size-24 {
    font-size: 24px;
}

#number4 {
    background-color: #90ee90;
    font-weight: bold;
}